<script src="/static/js/header.js"></script>

<div class="header">
    <div class="logo">
        <img class="img-1" src="../static/img/earth.png" />
        <img class="img-2" src="../static/img/book.png" />
    </div>
    <div class="company-name">
        <p style="font-size: 25px;">Website</p>
        <p style="font-family: 'Satisfy', cursive; color: yellow;font-size: 60px">Công Ty</p>
        <p>Thông tin doanh nghiệp - Danh bạ website</p>
    </div>
    <div class="banner">
        <img class="img-banner" src="../static/img/banner.png" alt="">
    </div>
    <div class="menu">
        <ul>
            <li class="item">
                <a onclick="changeState('/component/home/home.html')">Trang Chủ</a>
            </li>
            <li class="item">
                <a onclick="changeState('/component/them-cong-ty/them-cong-ty.html')">Thêm Công Ty</a>
            </li>
            <li class="item">
                <a>Công Ty Mới</a>
            </li>
            <li class="item">
                <a>Top Công Ty</a>
            </li>
            <li class="item">
                <a>Tin Tức</a>
            </li>
            <li class="item">
                <a onclick="changeState('/component/chi-tiet/chi-tiet.html')">Liên Hệ</a>
            </li>
        </ul>
    </div>
</div>