<div class="nav-left">
    <div class="title-left">
        <p style="display: inline-block; margin: 5px 2px;">NGÀNH NGHỀ</p>
    </div>
    <div class="selection">
        <ul>
            <li>
                An Ninh-Tham Tử
            </li>
            <li>
                Bảo Hiểm 
            </li>
            <li>
                Bất Động Sản - Xây Dựng 
            </li>
            <li>
                Chế Tạo Máy 
            </li>
            <li>
                Thiết Kế Website
            </li>
            <li>
                Chứng Khoán
            </li>
            <li>
                Da - Giày
            </li>
            <li>
                Dệt May - Thời Trang
            </li>
            <li>
                Du Lịch - Dịch Vụ
            </li>
            <li>
                Dược Phẩm 
            </li>
            <li>
                Điện Tử Dân Dụng
            </li>
            <li>
                Đồ Chơi - Thiết Bị Học Tập
            </li>
            <li>
                Đồ uống
            </li>
            <li>
                Giải Trí
            </li>
        </ul>
    </div>
</div>