<link rel="stylesheet" href="/static/css/navright.css">

<div class="top">
    <p>ĐĂNG TIN</p>
    <p>KHÔNG CẦN TÀI KHOẢN</p>
    <button>Đăng Ngay</button>
</div>
<div class="content-right">
    <div class="title">
        <h3>TIN DOANH NGHIỆP</h3>
    </div>
    <div class="content-right-children">
        <div class="content-detail">
            <img src="/static/img/right-1.png">
            <div>
                <p>Tìm hiểu về luật tự in hóa đơn</p>
            </div>
        </div>
        <div class="content-detail">
            <img src="/static/img/right-2.png">
            <div>
                <p>Tìm hiểu về luật tự in hóa đơn</p>
            </div>
        </div>
    </div>
</div>