<div class="search">
    <div class="infor">
        <ul>
            <li class="data"><a>Đăng Nhập</a></li>
            <li class="data"><a>Đăng ký</a></li>
            <li class="data"><a>Tài khoản</a></li>
        </ul>
    </div>
    <div class="find">
        <div>
            <form action="">
                <div class="content-submit">
                    <input type="text">
                    <label for="">Tìm trong nghề  </label>
                    <select name="" id="" style="background-color: white">
                        <option value="">Lựa chọn trong nghề</option>
                    </select>
                </div>
                <button class="btn-submit" type="submit">Tìm kiếm</button>
            </form>
        </div>
    </div>
</div>