<link rel="stylesheet" href="/static/css/home.css">
<div class="home">
    <div class="title-home">
        <div class="left">
            ĐÁNH GIÁ CAO
        </div>
        <div class="right">
            <a href="">Xem tất cả</a>
        </div>
    </div>
    <div class="content-home">
        <div class="content-detail">
            <div class="img">
                <img src="/static/img/img-home1.png">
            </div>
            <div class="text">
                <h3>Công Ty Nhà Sách Kinh Tế</h3>
                <p>Địa Chỉ: 6 Vĩnh Hội, F4, Q4, HCM</p>
                <p>Phone: 0986073735</p>
                <p>Email: levanhen@wampvn.com</p>
                <p>http://www.nhasachkinhte.net</p>
            </div>
        </div>
        <div class="content-detail">
            <div class="img">
                <img src="/static/img/img-home2.png">
            </div>
            <div class="text">
                <h3>CÔNG TY CỔ PHÂN ĐÂU TƯ KINH DOANH ĐỊA ỐC HƯNG THỊNH</h3>
                <p>Địa Chỉ: 6 Vĩnh Hội, F4, Q4, HCM</p>
                <p>Phone: 0986073735</p>
                <p>Email: levanhen@wampvn.com</p>
                <p>http://www.nhasachkinhte.net</p>
            </div>
        </div>
        <div class="content-detail">
            <div class="img">
                <img src="/static/img/img-home3.png">
            </div>
            <div class="text">
                <h3>Công Ty Nhà Sách Kinh Tế</h3>
                <p>Địa Chỉ: 6 Vĩnh Hội, F4, Q4, HCM</p>
                <p>Phone: 0986073735</p>
                <p>Email: levanhen@wampvn.com</p>
                <p>http://www.nhasachkinhte.net</p>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/static/css/navright.css">
<div>
<div class="top">
    <p>ĐĂNG TIN</p>
    <p>KHÔNG CẦN TÀI KHOẢN</p>
    <button>Đăng Ngay</button>
</div>
<div class="content-right">
    <div class="title">
        <h3>TIN DOANH NGHIỆP</h3>
    </div>
    <div class="content-right-children">
        <div class="content-detail">
            <img src="/static/img/right-1.png">
            <div>
                <p>Tìm hiểu về luật tự in hóa đơn</p>
            </div>
        </div>
        <div class="content-detail">
            <img src="/static/img/right-2.png">
            <div>
                <p>Tìm hiểu về luật tự in hóa đơn</p>
            </div>
        </div>
    </div>
</div>
</div>