<style>
    .content div .left tr{
        margin: 5px 0;
    }
</style>
<div class="chi-tiet">
    <div class="title">
        <p>Văn phòng thám tử VDT</p>
    </div>
    <div class="content">
        <div style="display: flex">
            <div class="left" style="height: 250px;">
                <table>
                    <tr>
                        <td>Tên công ty:</td>
                        <td>Văn phòng thám tử VDT</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>Số 14, ngách 1, ngõ 178, Đ.Thái Hà, Q. Đống Đa, Hà Nội</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>thamtuvdt@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Điện thoại:</td>
                        <td>0913.031.525</td>
                    </tr>
                    <tr>
                        <td>Fax:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="/">http://www.thamtu.com.vn</a></td>
                    </tr>
                    <tr>
                        <td>Tỉnh/thành phố</td>
                        <td>Hà Nội</td>
                    </tr>
                </table>
            </div>
            <div class="right" style="height: 250px;">
                <img width="100%" height="50%" src="/static/img/chitiet.png" alt="">
            </div>
        </div>
        <div>
            <h3>THÔNG TIN CHI TIẾT</h3>
            <hr>
            <p>Cùng với sự phát triển của xã hội và xu hướng kinh tế thị trường, có rất nhiều doanh nghiệp và các gia
                đình luôn cùng tham gia vào công cuộc phát triển đi lên của đất nước. Nhưng bước đầu tiên họ không thể
                tránh khỏ sự lúng túng về thành lập doanh nghiệp, cách thức tổ chức quản lý. Gia đình vướng mắc trong
                việc giáo dục trẻ em, quan hệ vợ chồng. CÔNG TY THÁM TỬ VDT ra đời . . .</p>
        </div>
    </div>
</div>