<link rel="stylesheet" href="/static/css/home.css">
<div class="home">
    <div class="title-home">
        <div class="left">
            ĐĂNG KÍ
        </div>
    </div>
    <div class="content-home" style="margin-left:10px">
        <form>
            <label for="">Tên công ty:</label>
            <br>
            <input type="text">
            <br>
            <label for="">Địa chỉ email:</label>
            <br>
            <input type="text">
            <br>

            <label for="">Địa chỉ</label>
            <br>
            <input type="text">
            <br>

            <label for="">Số diện thoại</label>
            <br>
            <input type="text">
            <br>

            <label for="">Fax</label>
            <br>
            <input type="text">
            <br>

            <label for="">URL</label>
            <br>
            <input type="text">
            <br>
            <br>
            <button style="background-color: yellow;">Đăng ký</button>
            <button style="background-color: blue; color:white" >Nhập lại</button>
        </form>
    </div>
</div>
<link rel="stylesheet" href="/static/css/navright.css">
<div>
<div class="top">
    <p>ĐĂNG TIN</p>
    <p>KHÔNG CẦN TÀI KHOẢN</p>
    <button>Đăng Ngay</button>
</div>
<div class="content-right">
    <div class="title">
        <h3>TIN DOANH NGHIỆP</h3>
    </div>
    <div class="content-right-children">
        <div class="content-detail">
            <img src="/static/img/right-1.png">
            <div>
                <p>Tìm hiểu về luật tự in hóa đơn</p>
            </div>
        </div>
        <div class="content-detail">
            <img src="/static/img/right-2.png">
            <div>
                <p>Tìm hiểu về luật tự in hóa đơn</p>
            </div>
        </div>
    </div>
</div>
</div>