* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.header {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    border-bottom: gray 1px solid;
    padding-bottom: 10px
}

.logo {
    width: 20%;
    max-height: 100px;
}

.logo {
    padding-right: 10px;
    display: flex;
    position: relative;
}

.logo>img {
    height: 100%;
    width: 50%;
}

.img-1 {
    z-index: 0;
}

.img-2 {
    z-index: 1;
    position: absolute;
    right: 20%;
}

.company-name {
    text-align: center;
    width: 30%;
}

.banner {
    width: 40%
}

.img-banner {
    width: 120%;
    height: 85%;
}

.menu {
    width: 100%;
    padding-left: 5%;
    background-color: #29b1e5;
    border-radius: 10px
}

.menu>ul {
    list-style-type: none;
    text-align: left;
}

.item {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
    border-left: #33333340 1px solid;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu a:hover {
    background: #F1F1F1;
    color: #333;
}