.selection ul{
    list-style:none;
}
.selection ul li::before{
    content:'\2022';
    color:#98982c;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.selection li{
    font-size:15px;
    margin-bottom: 10px;
}
.nav-left{
    background-color: white;
    border-radius: 5px;
    border: solid 1px blue;
    height: 100%;
}
.title-left{
    color:white;
    background-color: #29b1e5;
    font-size:15px;
}
.selection{
    padding-left: 25px;
    margin-top: 15px;
}